<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mei.animation">

    <application>
        <activity android:name=".AnimationMainActivity" />
        <activity android:name=".ViewAnimationActivity" />
        <activity android:name=".LayoutAnimationActivity" />
        <activity android:name=".PropertyAnimationActivity" />
        <activity android:name=".EvaluatorActivity" />
        <activity android:name=".InterpolatorActivity" />
        <activity android:name=".FlowerAnimationActivity" />
        <activity android:name=".TaoBaoDetailActivity" />
    </application>
</manifest>